.hasBackground {
    font-family: 'K2D';
    margin: 0;
    background-image: url("./images/movieScreenBackground.png");
    background-size: 120vh;
    background-repeat: no-repeat;
    background-position: 1vh 17vh;
}

.noBackground {
    font-family: 'K2D';
    margin: 0px;
    background-image: url('');
}

header {
    background-color: rgb(17, 24, 57);
    display: flex;
    justify-content: space-between;
}

.headDiv {
    height: 11vh;
}

#headerDivOne {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#headerDivTwo {
    display: flex;
    justify-content: flex-end;
}

.filmReel {
    width: 9vh;
    height: 9vh;
    padding: 1vh;
    margin-right: 1vh;
}

.mainHeader{
    color: whitesmoke;
    font-size: 7vh;
}

.pageLink {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 10vh;
    margin-top: 2vh;
    font-size: 3vh;
}

.pageOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.tvScreen {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.movieImg {
    width: auto;
}

.moviePoster {
    width: 40vh;
    margin-top: 2vh;
    margin-left: 5vh;
}

.movieDisplay {
    font-family: 'K2D';
    margin-left: 5vh;
    margin-right: 15vh;
    display: flex;
    flex-direction: column;
    width: 60vh;
}

#movieTitle {
    font-size: 6vh;
    margin-top: 5vh;
    margin-bottom: 0;
}

#movieOverview {
    font-size: 2.5vh;
    text-size-adjust: auto;
}

#addButton {
    background-color: rgb(34, 78, 105);
    color: whitesmoke;
    font-size: 5vh;
    padding: 3vh;

}

#filterContainer {
    margin-top: 7.5vh;
    margin-right: 3vh;
    background-color: rgb(34, 78, 105);
}

form {
    font-size: 4vh;
    padding-top: 2vh;
    padding-bottom: 4vh;
    padding-left: 3vh;
    padding-right: 5vh;
    color: whitesmoke;
}

.input {
    height: 8vh;
    font-size: 3vh;
}

.submitButton {
    background-color: whitesmoke;
    color: rgb(34, 78, 105);
    font-size: 3vh;
}

#orTitle {
    color: whitesmoke;
    font-size: 3vh;
    margin: 2vh;
    margin-left: 15vh;
}

.pageTwo {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
}

.movieCard {
    background-color: rgb(34, 78, 105);
    color: whitesmoke;
    padding: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.WLmovieTitle {
    font-size: 6vh;
    margin-bottom: 0;
    margin-top: 0;
}

.WLmovieOverview {
    font-size: 2.5vh;
}

#watchlistTitle {
    font-size: 6vh;
    margin-bottom: 0;
}

#watchlistOverview {
    font-size: 2.5vh;
}

.seenButton {
    background-color: whitesmoke;
    color: rgb(34, 78, 105);
    padding: 1vh;
    border-radius: 50px;
    font-size: 2.5vh;
}

.deleteButton {
    background-color: whitesmoke;
    color: rgb(197, 0, 0);
    padding: 1vh;
    border-radius: 50px;
    font-size: 2.5vh;
}

.watched {
    background-color: whitesmoke;
    color: grey;
}

.crossed {
    text-decoration: line-through;
}