body {
    font-family: 'K2D';
    margin: 0;
}

header {
    background-color: rgb(9, 79, 184);
    display: flex;
    justify-content: space-between;
}

.headDiv {
    height: 11vh;
}

#headerDivOne {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#headerDivTwo {
    display: flex;
    justify-content: flex-end;
}

.filmReel {
    width: 9vh;
    height: 9vh;
    padding: 1vh;
    margin-right: 1vh;
}

.mainHeader{
    color: whitesmoke;
    font-size: 60px;
}

.pageLink {
    text-decoration: none;
    color: whitesmoke;
    margin-right: 10vh;
    margin-top: 2vh;
    font-size: 3vh;
}

.mainBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.movieImg {
    width: auto;
}

.moviePoster {
    width: 40vh;
    margin-top: 2vh;
    margin-left: 5vh;
}

.movieDisplay {
    font-family: 'K2D';
    margin-left: 5vh;
    margin-right: 15vh;
    display: flex;
    flex-direction: column;
}

#movieTitle {
    font-size: 6vh;
    margin-top: 5vh;
    margin-bottom: 0;
}

#movieOverview {
    font-size: 2.5vh;
}
